@import '@picocss/pico';
@import './theme.scss';

.Logo {
  display: flex;
  gap: 1rem;
}

.Nav {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  vertical-align: middle;
}

.Spacer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;

  &::content {
    display: block;
    content: '';
  }
}

.Controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    &_ToggleView {
      max-width: 18rem;
    }
    &_AddButton {
      max-width: 6rem;
    }

    &--horizontal {
      & > * {
        margin-left: 1rem;
        margin-right: 1rem;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }

      flex-direction: row;
    }
  }
}

.CardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}
