@import '@picocss/pico';
@import './theme.scss';

.Header {
  .DataWarning {
    display: flex;
    justify-content: center;

    small {
      text-align: center;
    }

    span {
      margin-right: 0.5rem;
    }
  }

  .Nav {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    vertical-align: middle;
  }

  .HeaderDetails {
    padding: 1rem;
    background-color: var(--pico-form-element-background-color);

    fieldset {
      border: 1px solid var(--pico-primary);
      padding: 1rem;
      margin-bottom: 1rem;
      padding-top: 0.3rem;

      & > * {
        margin-left: 0.5rem;
      }

      legend {
        padding: 0 0.5rem;
        margin-left: 0;
      }

      input {
        margin: 0;
        padding: 0;
      }
    }

    .HeaderDetails_Message {
      margin-bottom: 1rem;
    }

    .HeaderDetails_SubTitle {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 0.5rem;
      white-space: nowrap;
      margin: 1rem 0 1rem 0;

      &::before {
        content: '';
        border-top: 1px solid var(--pico-primary);
        display: block;
        height: 1px;
        width: 100%;
      }
    }

    p {
      margin-bottom: 0.5rem;
    }
  }
}

.Logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  h1 {
    margin: 0;
  }
}

.Hamburger {
  cursor: pointer;
  user-select: none;

  & > div {
    display: block;
    width: 1.5rem;
    height: 0.15rem;
    background-color: var(--pico-primary);
    margin: 0.3rem 0;

    transform-origin: 0.4rem;
  }

  &--open > div {
    height: 0.2rem;

    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.Spacer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;

  &::content {
    display: block;
    content: '';
  }
}

.Main {
  margin-top: 1rem;

  .Controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      &_ToggleView {
        max-width: 18rem;
      }
      &_AddButton {
        max-width: 6rem;
      }

      &--horizontal {
        & > * {
          margin-left: 1rem;
          margin-right: 1rem;

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }

        flex-direction: row;
      }
    }
  }
}

.Card {
  cursor: pointer;
}

.CardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}

.Modal {
  article {
    padding-bottom: 0;

    & > * {
      padding: 1rem;
    }
  }

  form {
    summary {
      padding: 1rem 0 0 0;
      cursor: pointer;
    }

    @media screen and (min-width: 768px) {
      .rows {
        display: flex;
        gap: 1rem;
        flex-direction: row;

        & > div {
          width: 100%;
        }
      }
    }
  }

  footer {
    padding-bottom: 0;
    margin-bottom: 0;

    & > div {
      .DeleteConfirmation {
        padding-bottom: 1rem;

        &_Actions {
          display: flex;
          justify-content: flex-end;
          gap: 0.5rem;
        }
      }

      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;

        .DeleteConfirmation {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
        }
      }
    }
  }
}

.Canvas {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid var(--pico-primary);
  width: 100%;
  height: 500px;
  background-color: var(--pico-form-element-background-color);
}
